<div class="gridster">
  <ul>

  <li
    data-switcher-interval="30000"
    data-row="1"
    data-col="1"
    data-sizex="4"
    data-sizey="2">

    <div
      data-id="picture"
      data-view="BigImage"
      data-image="http://172.17.2.20/one_off/roof.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56a998c61ce8e7bf4dd98d5a.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/5765e0dd68eea871b97a8942.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56a1868afdf6f5ca113f2f96.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56ad62e51ce8e7bf4dd9f4c6.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56a7134d1ce8e7bf4dd95629.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56a710421ce8e7bf4dd955fe.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/57e80737e4b0cba9e858426a.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/56ad62e51ce8e7bf4dd9f4c8.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/570ade721ce8e7bf4de90be9.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/57e80738e4b0cba9e858426b.jpg" style="background-color:transparent;" data-max="true"></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/uvsnap/57dba1ede4b066f402195ee7.jpg" style="background-color:transparent;" data-max="true"></div>
  </li>

</li>

  </ul>
</div>
<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
