<div class="gridster">
  <ul>

  <li data-switcher-interval="30000" data-row="1" data-col="1" data-sizex="4" data-sizey="2">
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/roof.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/garage.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/kids.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    </li>
</li>

  </ul>
</div>
<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
