<div class="gridster">
  <ul>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Clock"></div>
    <i class="icon-time icon-background"></i>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="eagle" data-view="Meter" data-min="0" data-max="12000" data-title="Watts"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="eagle" data-view="Graph" data-title="Watts" ></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Weather Forecast"> ></div>
  </li>

  <li data-switcher-interval="60000" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/roof.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/garage.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/one_off/kids.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
    <div data-id="picture" data-view="BigImage" data-image="http://172.17.2.20/cams/av0_0/frame10.jpg"
      style="background-color:transparent;"
      data-max="true"
    ></div>
  </li>

  </ul>
</div>
<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
