<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div
        data-id="netatamo_co2"
        data-view="Meter"
        data-min="0"
        data-max="2000"
        data-title="CO2"
      ></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div
        data-id="netatamo_temperature"
        data-view="Meter"
        data-min="65"
        data-max="80"
        data-title="Temperature"
      ></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div
        data-id="netatamo_co2"
        data-view="Graph"
        data-title="CO2"
      ></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div
        data-id="netatamo_temperature"
        data-view="Graph"
        data-title="Temperature"
      ></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div
        data-id="picture"
        data-view="BigImage"
        data-image="http://172.17.2.20/uvsnap/10fd41c0-454f-3929-bf96-b99bd78b0d78.jpg"
        style="background-color:transparent;"
        data-max="true"
      ></div>
    </li>

  </ul>
</div>

<div data-id="reload" data-view="Reload" data-title="Reload" style="display: none"></div>
